<p class="text-justify">
  Lors de ce test de 30min, nous allons vous demander de réaliser différentes tâches : <br/><br/><br/>

  - Dans la section 'Membres' se trouve une liste de membres.<br/>
  Ajouter à cette liste, une colonne 'Numéro de portable'. Ajouter un numéro de portable pour chaque membre et afficher la colonne dans la liste.<br/><br/>

  - Toujours dans la section 'Membres', vous avez du remarquer la présence d'un bouton d'ajout de membre.
  Vous allez devoir réaliser un formulaire accessible par le bouton 'Ajouter un membre', permettant d'ajouter un membre à la liste déjà existante.<br/>
  Nous vous conseillons d'utiliser les liens proposés dans l'onglet 'Accueil'.<br/>
  Vous serez évalué sur votre démarche à retrouver, créer le code.<br/><br/>

  - Dans un deuxième temps, accédez à l'onglet 'Équipements'.<br/>
  Vous y trouverez du code en erreur, à vous de faire en sorte que celui-ci fonctionne, c'est-à-dire avoir l'affichage du détail de chaque équipement dans une boîte de dialogue lorsque l'on clique sur l'un d'eux.<br/>
  Remplacer le mot 'iPhone' présent dans la vue afin de l'afficher par interpolation.<br/><br/>
  Bon courage.
  </p>
