<h5>Bienvenue sur ce site de test !</h5>

<div class="sub-content">
    Les éléments dont vous pourriez avoir besoin pour la réalisation :

    <mat-list role="list">
        <mat-list-item role="listitem">
            <a target="_blank" href="https://material.angular.io">Angular Material</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a target="_blank" href="https://angular.io/guide/styleguide">Angular Style Guide</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a target="_blank" href="https://getbootstrap.com/">Bootstrap</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a target="_blank" href="https://material.io/tools/icons/">Icons</a>
        </mat-list-item>
    </mat-list>
</div>
